/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

header {
  background-color: #20232a;
  color: white;
  text-align: center;
  padding: 15px 0;
}

h1 {
  margin: 0;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.character-card {
  width: 300px;
  padding: 15px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.character-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.character-card h2 {
  margin: 10px 0;
}

.character-card p {
  color: #555;
}
